* {
	box-sizing: border-box;
	}
	
body { 
		max-width: 960px;
		margin: 0 auto;
		background-image: url(../images/portfolio-homepage-background.jpeg);
		background-attachment: fixed ;
    	background-repeat: no-repeat;
   		background-size: cover;
    	background-position: center;
	} 

header { 
		color: black;
		margin: 15px;
		border: 2px solid black;
		text-align: center;
		font-family: 'Quicksand', sans-serif;
		background-color: white;
	}

article {
		background-color: white;
		padding: 20px;
		width: 70%;
		border: 0.5px solid black;
		float: left;
		height: 980px;
		line-height: 1.5em;
		font-family: 'Quicksand', sans-serif;
	}

nav {
		padding: 10px;
		width: 30%;
		float: right;
		height: 200px;
	}

aside {
		padding: 10px;
		width: 30%;
		float: right;	
		height: 850px;
		font-family: 'Quicksand', sans-serif;
	}

.center {
 	 	display: block;
 	 	margin-left: auto;
 	 	margin-right: auto;
  		width: 45%;
 	 	height: 40%;
	}


footer {
		padding: 10px;
		text-align: left;
		font-family: 'Quicksand', sans-serif;
	}

img {
		height: 200px;	
	}

ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		background-color: white;
		border: 1px solid black;
	}
	
li { 
		display: block;
		color: #000;
		text-decoration: none;
		font-family: 'Quicksand', sans-serif;
	}

a {
		display: block;
		color: #000;
		padding: 8px 11px;
		text-decoration: none;
	}

a:hover {
		background-color: #555;
		color: white;
	}

a:active {
		background-color: #4CAF50;
		color: white;
		display: block;
		padding: 8px 16px;
		text-decoration: none;
	}